<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>News: <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold' %>
  </head>
  <body>

    <p style="color: green"><%= flash[:notice] %></p>

    <%= yield %>

    <% form_tag "/login" do %>
      Current user: <%= text_field_tag "user_id", session[:currentuser].to_i.to_s %>
      <input type="submit">
    <% end %>
  </body>
</html>
